/*========Google Fonts=======*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quattrocento:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Afacad", sans-serif;
}

body {
  background-image: url(/PracticaPersonal/3/images/bg.png);
  font-family: "Lato", sans-serif;
}

:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --orange-color: #ff7d05;
  --dark-color: #ca622f;
  --glass-bg: rgba(255, 255, 255, 0.1);
  --h1-font: "Quattrocento", serif;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10000;
  padding: 15px 9%;
  display: flex;
  align-content: space-between;
  align-items: center;
  transition: all 0.6s ease;
}

.logo img {
  width: 30%;
}

.navbar {
  display: flex;
}

.navbar a {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--black-color);
  padding: 4px 0;
  margin: 0 20px;
  border-bottom: 2px solid transparent;
  transition: all 0.8s ease;
}

.navbar a:hover {
  border-bottom: 2px solid var(--orange-color);
  color: var(--orange-color);
}

.social-icons {
  display: flex;
  margin-left: 60px;
}

.social-icons a {
  margin-left: 10px;
  text-decoration: none;
  color: var(--orange-color);
  font-size: 26px;
  transition: all 0.8s ease;
}

.social-icons a:hover {
  color: var(--dark-color);
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

section {
  padding: 0 15%;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 10px;
  z-index: 1;
}

.hreo-text h3 {
  color: var(--black-color);
  font-size: 25px;
  letter-spacing: 7px;
  margin-bottom: 5px;
  opacity: 0;
  transform: translateX(-100%);
}

.hero-text h1 {
  font-family: var(--h1-font);
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
  margin-bottom: 15px;
  color: var(--orange-color);
  opacity: 0;
  transform: translateY(100px);
}

.hero-text p {
  width: 100%;
  max-width: 500px;
  font-size: 16px;
  color: var(--black-color);
  line-height: 30px;
  margin-bottom: 20px;
  font-weight: 400;
  opacity: 0;
  transform: translateX(50px);
}

.btn {
  display: inline-block;
  padding: 16px 35px;
  color: var(--white-color);
  background: var(--orange-color);
  font-size: 18px;
  border-radius: 30px;
  margin-right: 20px;
  transition: all 0.8s ease;
  opacity: 0;
  transform: translateY(-100px);
}

.btn:hover {
  background-color: var(--dark-color);
}

.hero-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.board {
  width: 100%;
  height: auto;
  position: absolute;
  top: 190px;
  left: -20px;
  opacity: 0;
  transform: translate(-100%, 100%);
}

.burger {
  width: 60%;
  height: auto;
  position: absolute;
  top: 270px;
  left: 90px;
  opacity: 0;
  transform: translateY(-300px);
}

@media (max-width: 768px) {
  body {
    background: var(--white-color);
  }
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--glass-bg);
    backdrop-filter: blur(20px);
    position: fixed;
    top: 90px;
    right: -100%;
    width: 100%;
    height: 100vh;
    transition: right 0.5s ease;
    z-index: 9999;
  }
  .navbar a {
    font-size: 1.9rem;
    margin: 15px 0;
    color: var(--black-color);
    text-align: center;
  }
  .navbar.active {
    right: 0;
  }
  .menu-icon {
    display: block;
    font-size: 35px;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 30px;
    color: var(--white-color);
  }
  .logo img {
    width: 80%;
  }
  .social-icons {
    margin-right: 170px;
    width: 100%;
    justify-content: center;
  }
  .social-icons a {
    font-size: 35px;
    color: var(--white-color);
  }
  header {
    padding: 25px 5%;
    background-color: var(--dark-color);
  }
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .hero-text {
    margin-top: 300px;
  }
  .hero-text h3 {
    font-size: 25px;
  }
  .hero-text h1 {
    font-size: 70px;
    font-weight: 900;
  }
  .hero-text p {
    font-size: 25px;
  }
  .hero-text .btn {
    font-size: 20px;
  }
  .board {
    width: 100%;
    height: auto;
    position: absolute;
    top: 70px;
    left: -140px;
  }
  .burger {
    width: 60%;
    position: absolute;
    top: 140px;
    left: -40px;
  }
}
